
    <div class="jumbotron">
        <h1>Login to the website </h1>
        <p> You must login to use all the functions </p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>
