<%- include('bootheader') -%>

<%- include('menubar') -%>

    <form method="post" action="/showBMI">
        What is your height? <input type="number" name="height"> inches <br>
        What is your weight? <input type="number" name="weight"> pounds <br>
        <input type="submit" value="Calculate BMI">
    </form>


<%- include('bootfooter') -%>
